numpy==1.23.5
kserve==0.11.2
boto3==1.21.0
python-decouple==3.8
ray==2.4.0
optimum[onnxruntime-gpu]==1.17.1
# onnxruntime-gpu==1.17.0
onnx==1.15.0
# transformers==4.39.3
accelerate==0.26.1
safetensors==0.4.2
nltk==3.8.1
aimped==0.2.21
jupyter
jupyterlab
